In [1]:
x = range(1,40)
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39]

In [2]:
x.len()

AttributeError: 'list' object has no attribute 'len'

In [3]:
len(x)

39

In [4]:
x = range(1,41)

In [5]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40]

In [6]:
len(x)

40

In [7]:
y = [i*i for i in x]

In [8]:
y

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600]

In [9]:
sum(y)

22140

In [10]:
sum([x*x for x in range(1,40)])

20540

In [15]:
for x in range(1,35):
    if x % 2 == 0:
        print "%s" % x

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34

In [16]:
chr(97)

'a'

In [18]:
for x in range(97, 97+26):
    print "%s%s" % (chr(x),chr(x))

aa
bb
cc
dd
ee
ff
gg
hh
ii
jj
kk
ll
mm
nn
oo
pp
qq
rr
ss
tt
uu
vv
ww
xx
yy
zz

In [20]:
def checkSquares(x, y):
    return x*x % 2 == 0 and y*y % 2 == 0

In [22]:
checkSquares(2, 3)

False

In [39]:
sum([x*x for x in range(1,41)])

22140

In [45]:
print [x for x in range(1,36) if x % 2 !=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35]

In [47]:
print [chr(x)*2 for x in range(ord('a'), ord('z') + 1)]

['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk', 'll', 'mm', 'nn', 'oo', 'pp', 'qq', 'rr', 'ss', 'tt', 'uu', 'vv', 'ww', 'xx', 'yy', 'zz']